.button {
   margin: 10px;
background-color: #cfcfcf;
}

.good {
   composes: button;
   background-color: #4ee14e;
}

.neutral {
   composes: button;
   background-color: yellow;
}

.bad {
   composes: button;
   background-color: #ff8a8a;
}

.reset {
   composes: button;
   background-color: #e0e0e0;
}